[submodule "VerTest/ysyxSoC"]
	path = VerTest/ysyxSoC
	url = git@github.com:OSCPU/ysyxSoC.git
	branch = ysyx6
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = git@github.com:OSCPU/ysyxSoC.git
	branch = ysyx6
